<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="">
        <div>
            <p>Compra en cuotas y sin tarjeta de credito</p>
        </div>
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>

            </ul>
            <ul><li><a href="">Crea tu cuenta</a></li>
            <li><a href="">Ingresa</a></li>
            <li><a href="">Mis compras</a></li>
        </ul>
        </nav>
    </header>
    <main>
        <section id="visita">
            <h5>Basado en tu ultima visita</h5>
        <article>
            <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
            $6.770
            40% OFF
            Cafetera Moulinex</article>
        <article>
        <img src="/images/img-macbook-pro-2019.jpg" alt="macbook">
            $230.000
            20% off
            MacBook Pro 2019</article>
        <article>
        <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung">
            $70.500
            10% off
            Samsung Galaxy S10</article>
        <article>
            <img src="/images/img-tv-samsung-smart.jpg" alt="smartv">
            $23.200
            5% off
            SmartTv Samsung 43"</article>
        
        </section>
        <section id="ofertas">
            <h5>Seccion de ofertas</h5>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetra">
                $6.770
                40% off
                Cafetera Moulinex</article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="macbook">
                $230.000
                20% off
                MacBook Pro 2019</article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung">
                $70.500
                10% off
                Samsung Galaxy S10</article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="smartv">
                $23.200
                5% off
                SmartTv Samsung 43"</article>
        
        
        </section>
    </main>
    <footer>
        <section>
            <ul>
                <li><h5>Paga con tarjeta o efectivo</h5></li>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </ul>
        </section>
        <section>
            <ul>
                <li><h5>Envio gratis desde $2.500</h5></li>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </ul>
        </section>
    </footer>
    
</body>
</html>